/* home.css */
.home-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Centrar contenido */
    width: 100vw;
    height: 100vh; /* Ocupar toda la pantalla */
    background: url('/public/kids2.png') no-repeat center center fixed;
    background-size: cover; /* Asegura que la imagen cubra todo */
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.home-card {
    place-items: center start;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    max-width: 400px;
    align-self: start; /* Lo alinea en la parte superior */
   
}

.home-title {
    font-size: 28px;
    color: #43453e;
    margin-bottom: 10px;
}

.home-subtitle {
    font-size: 18px;
    color: #444;
    margin-bottom: 20px;
}

.home-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.home-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.home-button span {
    font-size: 16px;
}

.admin {
    background: #4caf50;
    color: white;
}

.videos {
    background: #ff9800;
    color: white;
}

.logout {
    background: #f44336;
    color: white;
}

.home-button:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
