/* Estilos generales */
.login-container {
  display: flex;
  justify-content: flex-start; /* Mueve el contenedor a la izquierda */
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  padding: 50px;
  padding-right: 1200px; /* Ajusta la distancia desde la izquierda */
}
/* Caja del login */
.login-box {
  background: #ffffff;
  padding: 50
  px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 500px;
}

/* Título */
.login-box h2 {
  font-size: 26px;
  color: #333;
  margin-bottom: 25px;
  font-weight: 600;
}

/* Inputs */
.login-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ffffff;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.login-box input:focus {
  border-color: #ff9900;
  outline: none;
}

/* Botón */
.login-box button {
  background-color: #ff9900;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

.login-box button:hover {
  background-color: #e68a00;
  transform: scale(1.05);
}
